.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/scripts/build_for_release.sh
/scripts/linux/bundles

**/target
**/gen/schemas
**/storage.db
**/target

.git
.github
.vscode
**/*/Dockerfile
**/*/*.Dockerfile
.dockerignore
.gitignore
.npmrc
CODE_OF_CONDUCT.md
LICENSE
README.md
Taskfile.yml
justfile
eslint.config.js
.prettierrc
flake.nix
flake.lock
shell.nix
default.nix
/result
/scripts/linux/bundle.sh
/scripts/linux/pkgbuild
/version_updater/
