# Maintainer: kasimeka
pkgname=bromomethane
pkgver=@version@
pkgrel=1
pkgdesc="A mod manager for Balatro - easily install and manage mods for the popular roguelike deckbuilding game. (none)"
arch=('x86_64')
url=""
license=('GPL-3.0-only')
groups=()
depends=('cairo' 'desktop-file-utils' 'gdk-pixbuf2' 'glib2' 'gtk3' 'hicolor-icon-theme' 'libsoup3' 'openssl' 'pango' 'webkit2gtk-4.1')
options=('!strip' '!emptydirs')
install=${pkgname}.install
source_x86_64=("https://github.com/kasimeka/bromomethane/releases/download/v@version@/bromomethane_@version@_amd64.deb")
sha512sums_x86_64=('@sha512sum@')

package(){
	tar -xz -f data.tar.gz -C "${pkgdir}"
}
